/*------------------------------*/
/* Button Widget
/*------------------------------*/
.elementor-element.elementor-widget-meafe-button .meafe-button {
	width: auto;
}

.elementor-widget-meafe-button .meafe-button {
	padding: 1.7em 2.5em;
	/* min-height: 50px;
    min-width: 150px; */
    background: #000000;
    color: #ffffff;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elementor-widget-meafe-button .meafe-button.meafe-button-sm {
    /* min-height: 40px;
    min-width: 100px; */
    padding: 0.5em 1em;
}

.elementor-widget-meafe-button .meafe-button.meafe-button-md {
	padding: 1em 1.5em;
	/* min-height: 60px;
    min-width: 150px; */
}

.elementor-widget-meafe-button .meafe-button.meafe-button-block {
    display: flex;
    padding: 1em 2em;
}

.elementor-widget-meafe-button .meafe-button:hover, 
.elementor-widget-meafe-button .meafe-button:focus {
	background: #000000;
	color: #ffffff;
}

.elementor-widget-meafe-button .meafe-button .meafe-button-text-icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.elementor-widget-meafe-button .meafe-button .meafe-button-text-icon-wrapper svg + span, 
.elementor-widget-meafe-button .meafe-button .meafe-button-text-icon-wrapper span + svg, 
.elementor-widget-meafe-button .meafe-button .meafe-button-text-icon-wrapper i + span, 
.elementor-widget-meafe-button .meafe-button .meafe-button-text-icon-wrapper span + i {
    margin-left: 10px;
}