:root{
    --color-white: #fff;
    --color-red: #e63636;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-purple1: #9333FF;
    --color-purple2: indigo;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    background-color: var(--color-dark2);
    padding: 2rem;
    border-radius: 10px;
    min-width: 30%;
    overflow: auto;
}

h1{
    margin-bottom: 1rem;
    text-align: center;
}

.content form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.span-required{
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: var(--color-red);
    display: none;
}

.inputs{
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-dark1);
    border: 2px solid var(--color-dark1);
    color: var(--color-white);
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}

.inputs:focus{
    border-color: var(--color-purple1);
}

.box-select{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    gap: 1rem;
}

button[type="submit"]{
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: var(--color-purple2);
    color: var(--color-white);
    cursor: pointer;
    transition: .3s;
}

button[type="submit"]:hover{
    background-color: var(--color-purple1);
}

@media screen and (max-width: 576px) {
    .box-select{
        flex-direction: column;
        gap: 5px;
    }
}

#agradecimento {
    position: fixed;
    bottom: 30px;
    left: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Ocultar inicialmente */
    overflow: hidden; /* Certifique-se de que a barra de progresso fique oculta inicialmente */
  }
  .progress-bar {
    width: 100%;
    height: 5px;
    background-color: #0583F2;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: progressBar 3s linear; /* A animação dura 3 segundos */
  }

  
@keyframes progressBar {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }